body {
	background: url("../images/IMG_0048.JPG") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 300;
	margin: 0;
	color: #666;
}

/* Typography */
h1#title {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 80px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}

h1#title span {
	font-weight: 400;
}

h2 {
	text-transform: uppercase;
	color: #665851;
	font-weight: 400;
	font-size: 1.4em;
	opacity: .9;
	margin-bottom: 0;
}

h3{
	margin-top: 10px
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #aeaeae;
}

p.small {
	font-size: 0.8em;

}


/* Layout */
.container {
	margin: 0;

	margin: 0;
	opacity: 0.9;

}

.container_two {
	margin: 0;
	opacity: 0.9;


}


.top {
	margin: 0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.login-box {
	background-color: white;
	max-width: 540px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;


}

/*.login-box .box-header {
	background-color: #3FC0EF;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}*/

.welcome {
	font-size: 2em;
	padding-top: 10px;
}

.box_title {
	font-size: 1.5em;
	padding-top: 20px;
}
.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;

}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;

}

.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;

}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 5px;
	color: white;

	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	background-color: #665851;
	cursor:pointer;



	cursor: pointer;
	outline: none;

}

.button_color {
	background-color: #665851;
}

.aButtons {
	width: 70px;
	height: 70px;
}



.buttontxt {
	color: white !important;
}
.login-box button:hover {

	transition: 0.5s;
}

.login-box button:hover {

	transition: 0.5s;
}

.selected {
	color: #665851!important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}


.profile-image {
	background-image: url("../images/girl.svg");
	height: 300px;
	border-radius: 200px;
	background-size: cover;
	background-position: center;
	width: 300px;
}

/*form switching*/
/*#Box_1 {
	visibility: visible;
}

#Box_2 {
	visibility: hidden;
}*/
